* {
  margin: 0;
  box-sizing: border-box;
  /* font-family: 'Nanum Gothic', sans-serif; */
}

:root {
  --white-color: #fff;
  --black-color: #000;
  --blue-color: #1266D5;
  --red-color: #FF0000;

  --font-mobile: 10px;
  --font-tablet-r: 10px;
  --font-tablet: 12px;
  --font-desktop: 12px;

  --font-small: 1rem;
  --font-medium: 1.5rem;
  --font-large: 2rem;

  --font-section-title: 5rem;

  --space-small: 1rem;
  --space-medium: 1.5rem;
  --space-large: 2rem; 
  --space-xl: 2.5rem;
  --space-xxl: 3rem;

  font-size: var(--font-mobile);
}

body {
  min-width: 370px;
}

.sr-only {
  display: none;
}

.aboutTeam {
  padding: var(--space-large);
  background-color: rgb(236, 236, 236);
}

.aboutTeam .section-title {
  font-size: var(--font-section-title);
  font-weight: 800;
  border-bottom: 1px solid #000;
  /* font-family: 'Roboto', sans-serif; */
}

.aboutTeam .member-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--space-large) 0 0;
}

.aboutTeam .member-container .member {
  display: flex;
  flex-direction: column;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.771);
  margin: 10px 0 0;
  padding: var(--space-xxl);
  border-radius: 20px;
  width: 80%;

  box-shadow: 2px 6px 10px rgba(82, 82, 82, 0.3);
}

.aboutTeam .member-container .member:first-child,
.aboutTeam .member-container .member .name {
  margin: 0;
}

.aboutTeam .member-container .member > div {
  display: flex;
  align-items: center;
  margin-top: 10px;
  font-family: 'Gowun Dodum', sans-serif;
}

.aboutTeam .member-container .member > div::before {
  content: "";
  display: inline-block;
  width: 3rem;
  height: 3rem;
  margin-right: var(--space-small);
  background-size: contain;
  background-repeat: no-repeat;
  flex: 0 0 30%;
}

.aboutTeam .member-container .member .name::before {
  background-image: url("./src/Icons/name.png");
}

.aboutTeam .member-container .member .birth::before {
  background-image: url("./src/Icons/birth.png");
}

.aboutTeam .member-container .member .tel::before {
  background-image: url("./src/Icons/tel.png");
}

.aboutTeam .member-container .member .mail::before {
  background-image: url("./src/Icons/mail.png");
}

.aboutTeam .member-container .member .title {
  display: flex;
  align-items: center;
  font-weight: 800;
  font-size: 1.3rem;
  flex: 1 1 30%;
}

.aboutTeam .member-container .member .content {
  font-size: 1.3rem;
  flex: 1 1 65%;
}

@media (min-width: 760px) {
  :root {
    font-size: var(--font-tablet);
  }

  .aboutTeam .member-container .member {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .aboutTeam .member-container .member > div {
    width: 50%;
  }

  .aboutTeam .member-container .member > div > div {
    flex: 1 1 30%;
  }
}


@media (min-width: 768px) {
  :root {
    font-size: var(--font-tablet-r);
  }


  .aboutTeam .member-container {
    flex-direction: row;
    justify-content: center;
  }

  .aboutTeam .member-container .member {
    width: 33%;
    margin: 0 0 0 var(--space-medium) ;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .aboutTeam .member-container .member > div {
    width: 50%;
    flex-direction: column;
  }

  .aboutTeam .member-container .member > div .title {
    margin-bottom: var(--space-small);
    font-size: var(--font-medium);
  }
  .aboutTeam .member-container .member > div .content {
    margin-bottom: var(--space-medium);
  }
}




@media (min-width: 1025px) {
  :root {
    font-size: var(--font-desktop);
  }

}

@media (min-width: 1600px) {
  .aboutTeam .member-container .member {
    width: 50%;
    margin: 0 0 0 var(--space-medium) ;
  }

  .aboutTeam .member-container .member > div {
    /* width: 33%; */
  }
}